

.div-milieu{
	display: block;
	text-align: center;
	margin: 0px 150px;

}

.images-logo{text-align: center;
				height: 200px;}

.texte{ font-size:35px;
		color: #272343;
		font-family: 'Calistoga', cursive; }