body{margin: 0px 0px;
	padding: 0px 0px;}
.container{ background-color: white;
			margin: 0px;
			padding: 0px; }

#logo{height: 80px;
margin-right: 10px;

}

#acceuil{ height:35px;
			color:#272343; }

.div-debut{background-color: #272343;
			border-radius:5px;
			position: sticky;
			top:0;}

.div-debut a{text-decoration: none;
		font-size:35px;
		color: white;
		font-family: 'Calistoga', cursive;
		font-weight: lighter;
		background: #272343 ;
	width: 100%;}

.div-debut a:hover{text-decoration: none;
		font-size:35px;
		color: green;
		font-family: 'Calistoga', cursive;
		font-weight: lighter;
		background: #272343;
	width: 100%;}


.div-debut ul li{display: inline-block;
				margin-right: 30px;

				}

.titrecorps{width: 100%;
			font-size:45px;
			 font-family: "lobster two",cursive;
			color: #272343;
			font-weight: bold;
			text-align: center;
			margin-bottom: 50px;}

#corps ul li {display: inline-block;}

#corps{animation:}

#COP21{height: 150px;
		margin-right: 60px;
		margin-left:120px;
		margin-top: }
.texte-partie2{margin-left:100px;
				font-size: 25px;
			color: #272343;
			font-weight: 100;
			margin-top: 0px;
			margin-bottom: 15px;
			font-family: 'Concert One', cursive;
}

.texte-inscription{color: #272343;
					font-size: 35px;
					font-family: 'Concert One', cursive;
					text-decoration: none;
					border-width: 4px;
					border-style: solid;
					border-color: #272343;
					padding: 6px;
					margin-bottom: 200px;
					}

.texte-inscription:hover {color: green;
					font-size: 35px;
					font-family: 'Concert One', cursive;
					text-decoration: none;
					border-width: 2px;
					border-style: solid;
					border-color: green;
					margin-bottom: 200px;
					}
.texte-fin{display: block;
			margin-bottom: 60px;
			text-align: center;
			margin-top: 30px;}


.lien-textebas{font-size: 25px;
			color: #272343;
			font-weight: 100;
			margin-top: 0px;
			margin-bottom: 15px;
			font-family: 'Concert One', cursive;
			text-decoration: none;
			border-width: 2px;
			border-style: solid;
			border-color: #272343;
			border-radius: 5%; 
			padding: 6px;
			margin-right: 140px;
			display: inline-block;
			margin-left: 50px;
}

.lien-textebas:hover {font-size: 25px;
			color: green;
			font-weight: 100;
			margin-top: 0px;
			margin-bottom: 15px;
			font-family: 'Concert One', cursive;
			text-decoration: none;
			border-width: 2px;
			border-style: solid;
			border-color: green;
			border-radius: 5%; 
			padding: 6px;
			margin-right: 140px;
			display: inline-block;
			margin-left: 50px;
}
#image-lancement{width:800px;
				}

.partiecorps{width: 1000px;
			font-size: 25px;
			color: #272343;
			font-weight: 100;
			margin-top: 0px;
			margin-bottom: 15px;
			font-family: 'Concert One', cursive;
			
				}
.liste-menu{margin: 0px 0px;}

#video-presentation{width: 1250px;
	text-align: center;
	margin: 0px 120px;)

